.setting{
    display: flex;
}

.settingWrapper{
    flex: 9;
    padding: 20px;
}

.settingTitle{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.settingUpdateTitle{
    font-size: 35px;
    margin-bottom: 20px;
    color: salmon;
}

.settingDeleteTitle{
    color: red;
    font-size: 13px;
    cursor: pointer;
}

.settingForm{
    display: flex;
    flex-direction: column;
}
.settingPP{
    display: flex;
    align-items: center;
    margin-top: 12px 0;
}
.settingPP > img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;

}

.settingPPIcon{
    width: 24px;
    height: 25px;
    border-radius: 50%;
    background-color: salmon;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    cursor: pointer;
}
.settingForm > label{
    font-size: 20px;
    margin-top: 20px;
}

.settingForm >input{
    color: gray;
    margin: 10px 0;
    height: 35px;
    border: none;
    border-bottom: 1px solid lightskyblue;
}

.settingSubmit{
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 10px;
    background-color: mediumturquoise;
    padding: 12px;
    margin-top: 20px;
    cursor: pointer;
}